extends layout

block content
  //.row
  // each m_set, m_num in m_sets
  //    each m_element in m_set
  //      | #{m_element}->#{m_map[m_element]}END
  //      br
  //    p

  .row
    each m_set, m_num in m_sets
      | echo #{m_num};
      | sox -G 
      each m_element in m_set
        | #{m_map[m_element]}.mp3 silence_2secs.mp3 
      | set#{m_num}_ru.mp3 tempo 0.75
      p

p
