extends layout

block content
  .row
    .col-md-3
      br
      form.form-inline(name="input", action="/", method="post")
        div.form-group
          label My language: 
            - m_selected_en = (m_mylang == 'en') ? 'selected' : null
            - m_selected_es = (m_mylang == 'es') ? 'selected' : null
            - m_selected_fr = (m_mylang == 'fr') ? 'selected' : null
            - m_selected_ru = (m_mylang == 'ru') ? 'selected' : null
            select.form-control(name="mylang")
              option(value="en", selected=m_selected_en) English
              option(value="es", selected=m_selected_es) Spanish
              option(value="fr", selected=m_selected_fr) French
              option(value="ru", selected=m_selected_ru) Russian
          div.form-group
            | &nbsp;&nbsp;
            button.btn.btn-default(type="submit") alter
    .col-md-3
      br
      form.form-inline(name="input", action="/", method="post")
        div.form-group
          label Learning: 
            - m_selected_fr = (m_lang == 'fr') ? 'selected' : null
            - m_selected_ru = (m_lang == 'ru') ? 'selected' : null
            select.form-control(name="lang")
              option(value="fr", selected=m_selected_fr) French
              option(value="ru", selected=m_selected_ru) Russian
          div.form-group
            | &nbsp;&nbsp;
            button.btn.btn-default(type="submit") switch

  .container
    .row
      table.table
        thead
          tr
            th Words of set
            th(colspan=2).ui-center-cell Set
            th(colspan=2).ui-center-cell Superset
            th.ui-center-cell GT
          tr
            th 
            th.ui-center-cell listen
            th.ui-center-cell save
            th.ui-center-cell listen
            th.ui-center-cell save
            th 
        tbody
          each m_set, m_num in m_sets
            tr
              td
                a(name="#{m_num}")
                | #{m_num} : 
                - var m_tens = parseInt(m_num / 10)
                - var m_set_all_words = ''
                each m_element in m_set
                  - m_set_all_words = m_set_all_words + "\n" + m_element
                  a(href="##{m_num}", onClick="window.open('https://s3.amazonaws.com/www.cloudautomat.net/audio/ff/audio_#{m_lang}/#{m_map[m_element]}.mp3','_outside','left=800,top=400,width=400,height=50,toolbar=no,status=no,menubar=no,scrollbars=no,resizable=yes')") #{m_element}
                  | 
                  a(href="http://www.google.#{m_lang}/search?q=#{m_element}&num=10&hl=#{m_lang}&site=imghp&tbm=isch&biw=1242&bih=640", target="gi")
                    img(src="/images/pic_icon.png" height="10" width="10")
                  | 
                  - m_uri = encodeURI(m_set_all_words.trim())
              td.ui-center-cell
                a(href="##{m_num}", onClick="window.open('https://s3.amazonaws.com/www.cloudautomat.net/audio/ff/audio_#{m_lang}/set#{m_num}_#{m_lang}.mp3','_outside','left=800,top=400,width=400,height=50,toolbar=no,status=no,menubar=no,scrollbars=no,resizable=yes')") <img src="/images/ear.png" height="15" width="15">
              td.ui-center-cell
                a(href="https://s3.amazonaws.com/www.cloudautomat.net/audio/ff/audio_#{m_lang}/set#{m_num}_#{m_lang}.mp3")
                  img(src="/images/download.svg" height="15" width="15") 
              td.ui-center-cell
                a(href="##{m_tens * 10}", onClick="window.open('https://s3.amazonaws.com/www.cloudautomat.net/audio/ff/audio_#{m_lang}/superset#{m_tens * 10}_#{((m_tens + 1) * 10) - 1}_#{m_lang}.mp3','_outside','left=800,top=400,width=400,height=50,toolbar=no,status=no,menubar=no,scrollbars=no,resizable=yes')") #{m_tens % 10}
              td.ui-center-cell
                a(href="https://s3.amazonaws.com/www.cloudautomat.net/audio/ff/audio_#{m_lang}/superset#{m_tens * 10}_#{((m_tens + 1) * 10) - 1}_#{m_lang}.mp3")
                  img(src="/images/download.svg" height="15" width="15")
              td.ui-center-cell
                a(href="https://translate.google.com/##{m_lang}/#{m_mylang}/#{m_uri}", target="gt") translate
    p Philosophy:
    ul
      li The intention is for the student to learn much by listening to sounds, even before knowing what they mean.
      li Then link with images.

    p Basic Instructiion:
    ul
      li To start, download a few basic sets at a time, put on an mp3 player, and take a long walk. Loop.
      li Once a set's sounds are somewhat familiar, start to associate meanings using images.

    p Further Instructions:
    ul
      li Watch out, clicking on a word will jump its set to the top of the browser, will fix later.
      li You don't have to close the pop-up pronunciation box, just click twice on the next word you want to hear, or image link.

  p

