nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="/") FF
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/") Home
        li
          a(href="/generate/supersets") Generator
