extends ../layout

block content
  .row
    .col-md-8
      each m_option in m_options
        p= m_option

  .container  
    form(name="input", action="/generate/supersets", method="post")
      div.form-group
        button.btn.btn-default(type="submit") generate
      //div.form-group
      //  label Random: 
      //    input(type='checkbox' name="random" value='yes') 
      div.form-group
        label Delay: 
          select(name="delay") 
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5") 5
            option(value="10") 10
      div.form-group
        label Loops: 
          select(name="loops") 
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5") 5
            option(value="10") 10
      div
        p Note: use your tab key and space bar to select multiple sets faster.
      div.form-group
        each m_set, m_num in m_sets
          div.checkbox
            label
              input(type='checkbox' name="sets_checked" value='#{m_num}') 
              |  Set #{m_num}: 
              - var m_tens = parseInt(m_num / 10)
              - var m_set_all_words = ''
              each m_element in m_set
               | #{m_element} 

  p

